<div class="page-header clearfix">
	<div class="float-left">
		<a class="pull-right btn btn-outline-danger" ng-click="clear()"><i class="fa fa-times"></i> Clear</a>
	</div>
	<input type="text" ng-model="widgetName" aria-label="greeting" />
	<div class="float-left">
		<a class="pull-right btn btn-outline-primary" ng-click="saveDashboard()"><i class="fa fa-times"></i>save</a>
	</div>
	<div class="float-left">
		<a class="pull-right btn btn-outline-warning" ng-click="refreshDashboard()"><i class="fa fa-times"></i>Refresh</a>
	</div>
	<div class="float-right">
		<select class="form-control" style="width: 150px; padding-top: 0px; display:inline-block;"  ng-model="selectedWidget" ng-options="x for x in widgets" ng-change="widgetChange()" ng-selected="true" value="" selected="selected">
		</select>
		<a class="pull-right btn btn-outline-primary mr-4" ng-click="addWidget()"><i class="fa fa-plus"></i> Add Widget</a>
		<select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
		</select>
	</div>

</div>
<div gridster="gridsterOptions"  class="">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widget">
			<div class="box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<h5 class="text-right">{{ widget.name }}</h5>
					<div class="box-header-btns pull-right">
						<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<div class="box-content"  style="height:100%;width:100%;">
					<div style="height:100%;width:100%;" class="widget-container" id="widget-container-{{$index}}" ng-init="renderWidget($index,widget)"></div>
				</div>
			</div>
		</li>
	</ul>
</div>